@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

:root {
  --background-color: #121212;
  --surface-01dp: rgba(255, 255, 255, 0.05);
  --surface-02dp: rgba(255, 255, 255, 0.07);
  --surface-03dp: rgba(255, 255, 255, 0.08);
  --surface-04dp: rgba(255, 255, 255, 0.09);
  --surface-06dp: rgba(255, 255, 255, 0.11);
  --surface-08dp: rgba(255, 255, 255, 0.12);
  --surface-12dp: rgba(255, 255, 255, 0.14);
  --surface-16dp: rgba(255, 255, 255, 0.15);
  --surface-24dp: rgba(255, 255, 255, 0.16);
  --font-color: white;
  --high-emphasis: rgba(255, 255, 255, 0.87);
  --midium-emphasis: rgba(255, 255, 255, 0.6);
  --disable: rgba(255, 255, 255, 0.38);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  --primary-color: #ffeb3b;
  --primary-variant-color: #fbc02d;
  --secondary-color: #ef9a9a;
}

.wip {
  display: none!important;
}

html,
body {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  height: max-content;
}

body * {
  transition: all 0.5s ease-out;
}

pre {
  visibility: hidden;
  width: 97%;
  height: 0vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--surface-03dp);

  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  text-align: justify;
}

pre.active {
  visibility: visible;
  height: 70vh;
}

header {
  text-align: center;
  margin: 50px auto 50px auto;
  width: 100%;
  display: block;
}

header > h2 {
  display: block;
  margin-right: 20px;
}

.filebox {
  width: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  border-color: var(--primary-variant-color);
  border-radius: 0.25em;
}

.filebox > i {
  margin-left: 10px;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}

.filebox:hover {
  background-color: var(--primary-color);
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  background-color: var(--surface-01dp);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  padding: 20px 30px;
  max-width: 900px;
}

.container > article {
  display: none;
  box-sizing: content-box;
  background-color: var(--surface-02dp);
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  box-shadow: var(--box-shadow);
  height: 0vh;
  overflow: hidden;
  opacity: 0;
}

.container > article > h3 {
  display: block;
  color: var(--high-emphasis);
  margin-bottom: 10px;
}

article > canvas {
  width: 100%;
}

article ol{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  list-style-type: none;
  counter-reset: list;
}

ol li:before {
  content: counter(list) ". ";
}

article  ol  li {
  padding: 5px 5px 5px 0px;
  margin: 3px 0;
  background-color: var(--surface-03dp);
  counter-increment: list;
  overflow: visible;
  white-space: nowrap;
}

article  ol  li:hover {
  background-color: var(--midium-emphasis);
}

.container > article.active {
  display: block;
  height: max-content;
  opacity: 1;
  margin: 20px 0px;
  padding: 5px 10px;

  -webkit-animation: fadeInFromNone 0.8s ease-out;
  -moz-animation: fadeInFromNone 0.8s ease-out;
  -o-animation: fadeInFromNone 0.8s ease-out;
  animation: fadeInFromNone 0.8s ease-out;
}

.toggle-btn{
  cursor: pointer;
}

.toggle-btn::after {
  content: "▼ 펼치기";
}

.toggle-btn.active::after {
  content: "▲ 접기";
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  1% {
    display: block;
    opacity: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
  }

  50% {
    display: block;
    opacity: 0;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }

  100% {
    display: block;
    opacity: 1;
    height: max-content;
    margin: 20px 0px;
    padding: 5px 10px;
  }
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.4);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 0px solid orange;
}
